<component name="ArtifactManager">
  <artifact type="war" name="Spring-Web:war">
    <output-path>$PROJECT_DIR$/Spring-Web/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>Spring-Web</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="Spring-Web-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring-Web:war exploded" />
    </root>
  </artifact>
</component>